* {
  box-sizing: border-box;
}

body
{
  font-family: "Open Sans", sans-serif;
  background-image: url("texture.jpeg");
  /* Reminder: border-box means that the padding and border are included in the width and height */
}

#container {
  width: 800px;
  /* Auto margins value centers the div element */
  margin: 0 auto;
}

header {
  background-color: rgb(191, 92, 214);
  height: 50px;
  padding: ;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

aside {
  background-color: #1a5fce;
  height: 1124px;
  width: 30%;
  float: left;
  padding: 10px;
}

main {
  background-color: #19ce67;
  float: right;
  padding: 10px;
  width: 70%
}

footer {
  background-color: #f44271 ;
  height: 100px ;
  padding: ;
  clear: both;
}

img {
  width: 100%;
  margin-top: 10px;

}
